<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.xxyopen.novel.dao.mapper.UserFollowMapper">

    <select id="listFollowWithAuthorInfo"
            resultType="io.github.xxyopen.novel.dto.resp.UserFollowRespDto">
        SELECT
            a.id           AS authorId,
            a.pen_name     AS penName,
            a.work_direction AS workDirection,
            DATE_FORMAT(f.create_time, '%Y-%m-%d %H:%i') AS followTime
        FROM
            user_follow f
                INNER JOIN
            author_info a ON f.author_id = a.id
        WHERE
            f.user_id = #{userId}
        ORDER BY
            f.create_time DESC
    </select>

</mapper>